body {
    display: flex;
}

#display {
    border: red solid 10px;
    display: flex;
    flex-direction: column;
    height: 75vh;
    width: 75vh;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex: auto;
    border-top: black solid 1px;
}

.column {
    box-sizing: border-box;
    flex: auto;
    border-left: black solid 1px;
}