body {
    display: flex;
}

#display {
    border: red solid 20px;
    display: flex;
    flex-direction: column;
    height: 75vh;
    width: 75vh;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex: auto;
}

.column {
    box-sizing: border-box;
    flex: auto;
}